importing database driver

In [32]:
import pyodbc
import pandas as pd
import numpy as np

creating the connection

In [11]:
server = "localhost"
database = "master"

In [26]:
df = pd.read_csv("data cleaning script and data/abyssiniaBank_cleaned.csv")
df1 = pd.read_csv("data cleaning script and data/dashenBank_cleaned.csv")
df2 = pd.read_csv("data cleaning script and data/commercialBank_cleaned.csv")
print(df.columns)

Index(['Unnamed: 0.1', 'Unnamed: 0', 'review', 'rating', 'date', 'bank',
       'source'],
      dtype='object')

In [14]:
conn_str = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={server};"
    f"DATABASE={database};"
    "Trusted_Connection=yes;"
)

In [17]:
app = pyodbc.connect(conn_str)
cursor = app.cursor()

In [21]:
table = "CleanedData"
create_table_query = f"""Create table {table}(
id int,
id1 int,
review text,
rating int,
date datetime,
bank varchar(50),
source varchar(50),
)
"""

In [22]:
cursor.execute(create_table_query)

In [36]:
data1 = [tuple(x) for x in df1.values]

In [23]:
data = [tuple(x) for x in df.values]
insert_query = f"INSERT INTO {table} VALUES (?, ?, ?, ?, ?, ?, ?)"

In [25]:
cursor.executemany(insert_query, data)
app.commit()

In [38]:
cursor.executemany(insert_query, data1)
cursor.executemany(insert_query, data1)
app.commit()