Importing important libraries

In [1]:
from google_play_scraper import app, reviews_all, Sort
import pandas as pd

scrapping the data

In [2]:
all_reviews = reviews_all(
    'com.boa.boaMobileBanking',
    sort=Sort.NEWEST,
    sleep_milliseconds=500,
    count = 500
)

adding the scrapped data into my data set to make changes

In [3]:
df = pd.DataFrame(all_reviews)
df.describe()

,score,thumbsUpCount,at,repliedAt
count,1044.000000,1044.000000,1044,23
mean,3.063218,10.040230,2024-07-09 08:53:44.605363968,2024-02-22 15:51:26.043478272
min,1.000000,0.000000,2024-01-10 09:20:59,2024-02-22 15:40:34
25%,1.000000,0.000000,2024-04-21 10:37:29,2024-02-22 15:50:12
50%,3.000000,1.000000,2024-05-18 12:52:10,2024-02-22 15:51:29
75%,5.000000,2.000000,2024-09-17 16:31:35,2024-02-22 15:54:51
max,5.000000,1811.000000,2025-06-05 11:57:36,2024-02-22 15:56:24
std,1.860893,77.134654,NaN,NaN

dropping unwanted columns and changing column names

In [4]:
df.drop(columns=['reviewId', 'userName', 'userImage', 'thumbsUpCount', 'reviewCreatedVersion','replyContent',
       'repliedAt', 'appVersion'], inplace=True)
df.rename(columns = {'content':'review', 'score':'rating', 'at':'date'}, inplace=True)
df.head()

,review,rating,date
0,it's not working,3,2025-06-05 11:57:36
1,"Hello, I’m facing a problem with the BOA Mobil...",1,2025-06-03 16:21:34
2,exceptional,5,2025-06-03 10:32:35
3,BoA Mobile good bank,5,2025-06-02 14:25:12
4,this is worest app 24/7 loading,1,2025-06-01 15:51:10

adding column "bank" and "source" with default value

In [5]:
df['bank'] = 'Bank of Abyssinia'
df['source'] = 'Google Play Store'

the final scrapped data

In [6]:
df.head()

,review,rating,date,bank,source
0,it's not working,3,2025-06-05 11:57:36,Bank of Abyssinia,Google Play Store
1,"Hello, I’m facing a problem with the BOA Mobil...",1,2025-06-03 16:21:34,Bank of Abyssinia,Google Play Store
2,exceptional,5,2025-06-03 10:32:35,Bank of Abyssinia,Google Play Store
3,BoA Mobile good bank,5,2025-06-02 14:25:12,Bank of Abyssinia,Google Play Store
4,this is worest app 24/7 loading,1,2025-06-01 15:51:10,Bank of Abyssinia,Google Play Store

Saving to csv file

In [7]:
df.to_csv("data/abyssiniaBank_raw.csv")