Importing important libraries

In [1]:
from google_play_scraper import app, reviews_all, Sort
import pandas as pd

scrapping the data

In [2]:
all_reviews = reviews_all(
    'com.combanketh.mobilebanking',
    sort=Sort.NEWEST,
    sleep_milliseconds=500,
    count = 500
)

adding the scrapped data into my data set to make changes

In [3]:
df = pd.DataFrame(all_reviews)
df.describe()

,score,thumbsUpCount,at,repliedAt
count,7502.000000,7502.000000,7502,47
mean,4.053053,7.789923,2023-04-16 04:08:10.759264,2020-11-25 02:08:07.361702144
min,1.000000,0.000000,2014-02-17 05:49:07,2020-06-29 13:27:17
25%,3.000000,1.000000,2022-03-02 23:56:52,2020-07-24 13:59:23.500000
50%,5.000000,1.000000,2023-12-18 20:37:58.500000,2020-10-28 20:45:18
75%,5.000000,2.000000,2024-09-19 11:53:12.249999872,2021-06-03 15:14:38.500000
max,5.000000,3025.000000,2025-06-07 20:21:52,2021-06-19 20:29:33
std,1.487041,73.361829,NaN,NaN

dropping unwanted columns and changing column names

In [4]:
df.drop(columns=['reviewId', 'userName', 'userImage', 'thumbsUpCount', 'reviewCreatedVersion','replyContent',
       'repliedAt', 'appVersion'], inplace=True)
df.rename(columns = {'content':'review', 'score':'rating', 'at':'date'}, inplace=True)
df.head()

,review,rating,date
0,A great app. It's like carrying a bank in your...,4,2025-06-07 20:21:52
1,More than garrantty bank EBC.,4,2025-06-07 18:21:26
2,really am happy to this app it is Siple to use...,5,2025-06-07 11:02:38
3,I liked this app. But the User interface is ve...,2,2025-06-07 10:50:29
4,"""Why don’t your ATMs support account-to-accoun...",4,2025-06-06 09:54:11

adding column "bank" and "source" with default value

In [5]:
df['bank'] = 'Commercial Bank of Ethiopia'
df['source'] = 'Google Play Store'

the final scrapped data

In [6]:
df.head()

,review,rating,date,bank,source
0,A great app. It's like carrying a bank in your...,4,2025-06-07 20:21:52,Commercial Bank of Ethiopia,Google Play Store
1,More than garrantty bank EBC.,4,2025-06-07 18:21:26,Commercial Bank of Ethiopia,Google Play Store
2,really am happy to this app it is Siple to use...,5,2025-06-07 11:02:38,Commercial Bank of Ethiopia,Google Play Store
3,I liked this app. But the User interface is ve...,2,2025-06-07 10:50:29,Commercial Bank of Ethiopia,Google Play Store
4,"""Why don’t your ATMs support account-to-accoun...",4,2025-06-06 09:54:11,Commercial Bank of Ethiopia,Google Play Store

saving file to csv

In [7]:
df.to_csv("data/commercialBank_raw.csv")