Importing important libraries

In [1]:
from google_play_scraper import app, reviews_all, Sort
import pandas as pd

scrapping the data

In [2]:
all_reviews = reviews_all(
    'com.dashen.dashensuperapp',
    sort=Sort.NEWEST,
    sleep_milliseconds=500,
    count = 500
)

adding the scrapped data into my data set to make changes

In [3]:
df = pd.DataFrame(all_reviews)
df.head()
df.describe()

            score  thumbsUpCount                             at
count  449.000000     449.000000                            449
mean     4.469933       7.164811  2025-03-28 16:42:29.336302848
min      1.000000       0.000000            2025-01-11 11:36:49
25%      5.000000       2.000000            2025-02-14 07:33:32
50%      5.000000       2.000000            2025-04-21 11:20:50
75%      5.000000       4.000000            2025-04-22 12:37:27
max      5.000000     226.000000            2025-06-07 10:40:29
std      1.206238      24.050626                            NaN

dropping unwanted columns and changing column names

In [4]:
df.drop(columns=['reviewId', 'userName', 'userImage', 'thumbsUpCount', 'reviewCreatedVersion','replyContent',
       'repliedAt', 'appVersion'], inplace=True)
df.rename(columns = {'content':'review', 'score':'rating', 'at':'date'}, inplace=True)
df.head()

,review,rating,date
0,I like this mobile banking app very much. Over...,2,2025-06-07 10:40:29
1,love,3,2025-06-06 00:15:44
2,መቸሸጠ,5,2025-06-03 19:40:31
3,wow,5,2025-06-03 17:30:11
4,gadaa,5,2025-06-01 17:10:53

adding column "bank" and "source" with default value

In [5]:
df['bank'] = 'Dashen Bank'
df['source'] = 'Google Play Store'

the final scrapped data

In [6]:
df.head()

,review,rating,date,bank,source
0,I like this mobile banking app very much. Over...,2,2025-06-07 10:40:29,Dashen Bank,Google Play Store
1,love,3,2025-06-06 00:15:44,Dashen Bank,Google Play Store
2,መቸሸጠ,5,2025-06-03 19:40:31,Dashen Bank,Google Play Store
3,wow,5,2025-06-03 17:30:11,Dashen Bank,Google Play Store
4,gadaa,5,2025-06-01 17:10:53,Dashen Bank,Google Play Store

saving to csv

In [7]:
df.to_csv("data/dashenBank_raw.csv")